body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(128, 0, 128, 0.837), white);
}

h1 {
    text-align: center;
    color:white;
}

h4 {
    text-align: center;
    color: rgb(255, 255, 255);
}

/* nav on all pages besides home */
.nav {
    background: rgba(0, 0, 0, 0.323);
    text-align: center;
}

.nav li {
    display: inline;
    font-size: 130%;
    padding: 0% 3.5% 0% 3.5%;
}

.nav a {
    color:hsla(0, 0%, 100%, 0.95);
}

/* home */
#homeHeader {
    text-align: center;
    margin: 10% 0% 6% 0%;
    font-size: 350%;
    color:whitesmoke;
}

#homeUl li {
    text-align: center;
    margin: 2.5%;
    font-size: 150%;
    list-style: none;
}

#homeUl {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

#homeUl a {
    color: black;
}

/* Cat Modal */
.modals {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.catMContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

embed {
    height: 450px;
    width: auto; 
}

#catButton{
    margin: 7% 0% 0% 15%;
    cursor: pointer;
}

/* about me */

#meArticle {
    margin: 6% 0% 3% 10%;
    padding: 0%;
    border: 0%;
    max-width: 35%;
    display: block;
    float: left;
}

#linkedIn img {
    width: 15%;
    height: auto;
    cursor: pointer;
    margin: 7% 0 0 0;
}

#gitHub img {
    width: 15%;
    height: auto;
    cursor: pointer;
    margin: 7% 0 0 15%;
}

.mePic {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    float: right;
    margin: 3% 8% 3% 0%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Resume */
#resume p, #resume li {
    max-width: 75%;
    font-size: 110%;
}

#resume ul li {
    margin: 1% 0 1% 0;
}

#resume h4 {
    text-align: left;
    color: black;

}

#resume {
    font-family: Roboto Mono;
    padding: 40px 0 0 150px;
}

/* Projects */
.filler {
    max-width: 32%;
    max-height: auto;
    padding: 1.5%;
    margin-left: auto;
    margin-right: auto;
}

#projectsFiller {
    position: relative;
    left: 210px;
}

/* mobile */
@media (max-width: 500px) {
    /* home */
    .nav li{
        font-size: 100%;
    }

    #homeHeader {
        text-align: center;
        margin: 20% 0% 10% 0%;
        font-size: 275%;
    }

    #homeUl li {
        padding: 2% 0 2% 0;
        font-size: 130%;
    }

    #meArticle {
        max-width: none;
        display: inline-block;
        margin: 10% 0 0 0;
    }

    embed {
        height: 310px;
    }

    /* resume */
    #resume {
        padding: 2px 0 0 20px;
    }

    /* projects */
    #projectsFiller {
        left: 55px;
        margin-top: 30px;
    }

    .filler {
        max-width: 70%;
    }
}

